*{
    padding: 0px;
    margin: 1px;
    box-sizing: border-box;
}

.contedor{
    font-family: 'Lemonada', cursive;
    display: grid;
    text-align: center;
    height: 80vh;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "E1 E1 E1"
    "nav nav nav"
    "E2 E3 E4"
    "E5 E6 E7"
    "E8 E9 E10"
    "E14 E14 E14";
}

.Elemento1{
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
    grid-area: E1;
}

.nav{
    background: #2d3436;
}

.nav{grid-area: nav;}
.Elemento2{grid-area: E2;}
.Elemento3{grid-area: E3;}
.Elemento4{grid-area: E4;}
.Elemento5{grid-area: E5;}
.Elemento6{grid-area: E6;}
.Elemento7{grid-area: E7;}
.Elemento8{grid-area: E8;}
.Elemento9{grid-area: E9;}
.Elemento10{grid-area: E10;}
.Elemento14{grid-area: E14; background: black; color: white; height: 40px;}

.contenedor > .nav,
.contenedor > .Elemento2,
.contenedor > .Elemento3,
.contenedor > .Elemento4,
.contenedor > .Elemento5,
.contenedor > .Elemento6,
.contenedor > .Elemento7,
.contenedor > .Elemento8,
.contenedor > .Elemento9,
.contenedor > .Elemento10,
.contenedor > .Elemento14{
    width: 100%;
    height: 475px;
    background: #2d3436;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}


div table tr td{
    text-align: center;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

ul li a:hover{
    cursor: pointer;
    color: #000000;
    background: rgba(168,189,106,1);
    background: -moz-linear-gradient(left, rgba(168,189,106,1) 0%, rgba(168,189,106,1) 9%, rgba(168,189,106,1) 19%, rgba(158,184,96,1) 26%, rgba(142,176,80,1) 38%, rgba(121,165,59,1) 53%, rgba(100,155,38,1) 68%, rgba(87,149,25,1) 77%, rgba(76,143,14,1) 85%, rgba(76,143,14,1) 93%, rgba(76,143,14,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(168,189,106,1)), color-stop(9%, rgba(168,189,106,1)), color-stop(19%, rgba(168,189,106,1)), color-stop(26%, rgba(158,184,96,1)), color-stop(38%, rgba(142,176,80,1)), color-stop(53%, rgba(121,165,59,1)), color-stop(68%, rgba(100,155,38,1)), color-stop(77%, rgba(87,149,25,1)), color-stop(85%, rgba(76,143,14,1)), color-stop(93%, rgba(76,143,14,1)), color-stop(100%, rgba(76,143,14,1)));
    background: -webkit-linear-gradient(left, rgba(168,189,106,1) 0%, rgba(168,189,106,1) 9%, rgba(168,189,106,1) 19%, rgba(158,184,96,1) 26%, rgba(142,176,80,1) 38%, rgba(121,165,59,1) 53%, rgba(100,155,38,1) 68%, rgba(87,149,25,1) 77%, rgba(76,143,14,1) 85%, rgba(76,143,14,1) 93%, rgba(76,143,14,1) 100%);
    background: -o-linear-gradient(left, rgba(168,189,106,1) 0%, rgba(168,189,106,1) 9%, rgba(168,189,106,1) 19%, rgba(158,184,96,1) 26%, rgba(142,176,80,1) 38%, rgba(121,165,59,1) 53%, rgba(100,155,38,1) 68%, rgba(87,149,25,1) 77%, rgba(76,143,14,1) 85%, rgba(76,143,14,1) 93%, rgba(76,143,14,1) 100%);
    background: -ms-linear-gradient(left, rgba(168,189,106,1) 0%, rgba(168,189,106,1) 9%, rgba(168,189,106,1) 19%, rgba(158,184,96,1) 26%, rgba(142,176,80,1) 38%, rgba(121,165,59,1) 53%, rgba(100,155,38,1) 68%, rgba(87,149,25,1) 77%, rgba(76,143,14,1) 85%, rgba(76,143,14,1) 93%, rgba(76,143,14,1) 100%);
    background: linear-gradient(to right, rgba(168,189,106,1) 0%, rgba(168,189,106,1) 9%, rgba(168,189,106,1) 19%, rgba(158,184,96,1) 26%, rgba(142,176,80,1) 38%, rgba(121,165,59,1) 53%, rgba(100,155,38,1) 68%, rgba(87,149,25,1) 77%, rgba(76,143,14,1) 85%, rgba(76,143,14,1) 93%, rgba(76,143,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8bd6a', endColorstr='#4c8f0e', GradientType=1 );
}

.box{
    width: 400px;
    height: 460px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.img-box{
    width: 100%;
    height: 450px;
    overflow: hidden;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.548);
}

.img-box img{
    transition: 3s;
}

.img-box img:hover{
    transform: scale(1.5);
}

@media all and (max-width: 1000px){
    .contedor{
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
        "E1 E1"
        "nav nav"
        "E2 E3"
        "E4 E5"
        "E6 E7"
        "E8 E9"
        "E14 E14";
    } 
}

@media all and (max-width: 600px){
    .contedor{
       height: 200vh;
       grid-template-columns: 1fr;
       gap: 1em;
       grid-template-rows: repeat(1, auto);
       grid-template-areas:
       "E1"
       "nav"
       "E2"
       "E3"
       "E4"
       "E5"
       "E6"
       "E7"
       "E8"
       "E9"
       "E14";
   }
}

